*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s ease;
  


}
:root{
    --twiter_secondary:RGB(228 232 235);
    --twiter_font_color: #9c9c9c;
    --twitter_primary:rgb(76, 76, 233);
    /* #9c9c9c; */
    /* #f1efef; */
}
@media screen and (max-width: 768px) {
    h3{
        
        font-size: 15px;
    }
    p{
        font-size: 15px;
    }
    
 }
