.Post__container{
    display: flex;
    width: 100%;
    gap: 15px;
    background-color: white;
    padding: 10px 10px;
    border-bottom: 1px solid  #9c9c9c;


}
.contentpost__body{
    word-wrap: break-word;
   word-break: break-all;
   width: 80%;
}
.Post__container:hover{
    background-color: var(--twitter_secondary);

}
.Post__container > .Post__content{
    flex: 1;
}
.Post__heading{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.Post_tvu{
    display: flex;
    align-items: center;
}
.contentpost__body{
    color: black;
}
span{
    color: var(--twiter_primary);
}
.Post__icon{
    color: var(--twitter_secondary);
    margin-top: 10px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.button_post{
    display: flex;
    align-items: center;
    gap: 10px;
}
.options__container{
    
}

.options{
    width: 100px;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    text-align: center;
    background-color: black;
    z-index: 1000;
    color: white;
    padding: 10px;
    position: absolute;
    border: 1px solid lightblue;

}
/* .block__options{
    display: block;
} */
@media screen and (max-width: 768px) {
    .Post__icon{
        
       width: 90%;

    }
 }