.Recommendations{
    flex: 0.5;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #f1efef;
    border-left: 1px solid  #f1efef;
    overflow-y:hidden;
    scroll-behavior: smooth;

}
.Home__button{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
   
}
.Home__button > .icon {
    color: var(--twitter_primary);
}
.Recommendations > hr{
    margin-top: 15px;
    width: 100%;
}
.twitter__logo{
    width: 20%;
    display: none;
  }
  
@media screen and (max-width: 768px) {
    .Recommendations{
        
        flex: 1;
        transition:  flex 0.2s;

    }
    .twitter__logo{
        width: 10%;
        display: block;
      }
      .Nav_mobile{
        width: 100%;
        display: flex;
        position: fixed;
        bottom:0;
        z-index: 100000;
        background-color: white;
        border-top: 1px solid  #f1efef;
      }
 }

 

 @media screen and (max-width: 1200px) {
    .Recommendations{
        
        flex: 1;
        transition:  flex 0.2s;
    }
   
 }

 @media screen and (min-width: 768px) {
    .Nav_mobile{
        display: none;
       }
   
 }