
.Tweet__container{
    display: flex;
    width: 100%;
    gap: 15px;
    background-color: white;
    padding: 10px 10px;

}
form{
    /* background-color: red; */
    width: 100%;
    display: flex;
}
.Tweet__content{
    flex: 1;
    margin-left: 12px;
}
.input__section{
   
}
 .input__hometweet{
   width: 80%;
   border: none;
   outline: none;
   font-size: 18px;
   word-wrap: break-word;
   word-break: break-all;
   height: 80px;
}
.input__hometweet::placeholder{
    font-size: 20px;
    color: var(--twiter_font_color);
    font-weight: 700;
}
.icon__tweet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.tweet__home{
    color: white;
    border-radius: 20px !important;
}
.icon_tweethome{
    color: var( --twitter_primary)
}
.icon__section{
    display: flex;
    gap: 10px;
}